.h1{
    display: flex;
    justify-content: center;
}
.h2{
    display: flex;
    justify-content: center;
}

.mapposition{

display: flex;
justify-content: flex-end;
align-items: flex-start;
padding: 15px;
margin: 15px;
}
    
.flex-list{
    
display: flex;
justify-content: flex-start;
align-items: center;
}
.map-container{

    display: flex;
    justify-content: center;
}